ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

li {
	display: block;
	float: left;
}
header {
	border-bottom: 2px solid #4d4d4d;
}
.bordered {
	border: 2px solid #4d4d4d;
	box-sizing: border-box;
}
.centered {
	text-align: center;
}
.top-bottom-margin {
	margin: 25px auto;
}
.padded {
	padding: 10px;
}
.even-eight {
	width:12.5%;
	text-align: center;
}

.home_button {
  color: black;
  border: no border;
}

.selected {
  font-weight: bold;
  color: navy;
}

.member_picture {
  width: 150px;
  border-radius: 5px;
}
