* {
  color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

li {
	display: block;
	float: left;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: grey;
}
a:active {
  color: grey;
  text-decoration: underline;
}
.jay {
  color: black;
}
.jay:hover {
  color: red;
}
.jay:active {
  color: maroon;
  text-decoration: underline;
}
h4 {
  text-decoration: underline;
  font-weight: bold;
}
header {
	border-bottom: 2px solid #4d4d4d;
  background-color: black;
}
.top_nav {
  color: white;
}
.bordered {
	border: 2px solid grey;
	box-sizing: border-box;
}
.centered {
	text-align: center;
}
.top-bottom-margin {
	margin: 25px auto;
}
.padded {
	padding: 10px;
}
.even-eight {
	width:12.5%;
	text-align: center;
  color: white;
}

.home_button {
  color: white;
  font-weight: bold;
  border: no border;
}

.selected {
  font-weight: bold;
  color: grey;
  text-decoration: underline;
}

.member_picture {
  width: 150px;
  border-radius: 5px;
}
.PAL-text {
  font-size: 200px;
  padding-top: 150px;
}

.home-section {
    height: 400px;
    padding-top: -1000px;
    padding-bottom: 200px;
    background-image: url('./images/PAL.jpeg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: #ffffff;
    position: relative;
}

.parallax {
    /*height: 300px;*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.events_section {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: white;
  color: black;
}
.jay.selected {
  color: maroon
}
